


.container {
    display: flex;
   
    height: 700px;
    width: 700px;
    flex-direction: row;
    flex-wrap: wrap;

    
}

.container > * {
    box-sizing: border-box;
    flex-basis: auto;


    
}